@charset "UTF-8";
/* CSS Document */


/****************************fonts****************************/
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Press+Start+2P&display=swap');  */

@import url('https://fonts.googleapis.com/css2?family=Marvel&family=Press+Start+2P&display=swap');

h1, h2{
	font-family: 'Press Start 2P', cursive;

}


html{font-family: 'Marvel', sans-serif;
}

#masthead{
	background-color: #45429E; 
/*	background-image: url(); */
	background-size: cover;
	
}

#portfolio{
	background-color: #223FBF;
/*	background-image: url(); */
	background-image: center;
	background-size: cover;
}

#about{
	background-color: #1D3E80;
/*	background-image: url(); */
	background-image: center;
	background-size: cover;
}

#education{
	background-color: #223FBF;
/*	background-image: url(); */
	background-image: center;
	background-size: cover;
}

#influences{
	background-color: #1D3E80;
/*	background-image: url(); */
	background-image: center;
	background-size: cover;
}
	
#footer{
	background-color: #212126
}

/********************************styled links******************/

/*default look of the link*/
a:link{
	color:#D96C0D;
}

/*previously been to the location of the link*/
a:visited{
	color:#D92211;
}

/*when I have my mouse OVER the element*/
a:hover{
	color:#5DD959;
	/*get rid of the underline*/
	text-decoration:none;
}

/*when you are pressing DOWN on the element*/
a:active{
	color:#6C548C;
}

/*******************************NavBar****************************/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background colour of the whole bar*/
  background-color: #303440;
}

nav li {
	/*put the list items side by each*/
  float: left;
}

nav li a:link {
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	/*added duration for a fade*/
	transition-duration: 0.6s;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #1C8C24;
}


/*make a CLASS that adds the stickiness to the navbar*/
.sticky{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}